
.navbar{ 
    background:rgba(56, 55, 54, 0.637);
    border-bottom:2pt solid #f97300;
    
}

.nav-link , .navbar-brand{ 
    font-family: 'Playfair Display SC', serif;
    color: #f4f4f4; 
    cursor: pointer;
}

.navbar-brand{
    text-shadow: 1px 3px 8px rgb(36, 34, 34);
    font-size: 28pt;
}
#newNavBarBrand{
    font-family: 'Playfair Display SC', serif;
    color: #f4f4f4; 
    cursor: pointer;
    text-shadow: 1px 3px 8px rgb(36, 34, 34);
    font-size: 28pt;
}


.header{
   
    height: 500px;
    width: 100%;
    background-image: url('../images/finalheaderforrealthistime.jpg');
    background-attachment: fixed;
    background-size:cover;
    box-shadow: 1px 1px 4px  rgb(36, 34, 34);
}



.description{
    position: absolute;
    top: 10%;
    left: 3%;
    margin: auto;
    padding: 32px;
}

.description h1{
 color:white ;
 font-size: 36pt;
}

.description p{
padding-top: 28px;
 color: rgb(36, 34, 34);
 font-size: 20px;
 font-weight: 600;
 width: 50%;
 line-height: 2.1;
}


.about{
    margin: 64px 0px;
    padding: 1em;
    position: relative;
    margin-bottom: 88px;
}


.about img{
    height: auto;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgb(36, 34, 34);
}

.about span{
    display: block;
    color: #888;
    margin-top: 15px;
}

.about .desc{
    padding: 32px;
    border-left:4px solid #F97300; 
}

.about .desc h3{
    color: #F97300;
    margin-left: 35px;
    
}

.about .desc p{
    line-height:2;
    color:#888;
    margin-left: 35px;
    font-size: 14pt;
}

.about .desc h1{
    color: rgb(36, 34, 34);
    font-size: 38pt;
    margin: 32px;
}

.portfolio{
    height: 800px;
    /*margin: 64px 0;*/
    position: relative; 
    margin-top: 175px;
    
    background-image: url('../images/portfolio.jpg');
    background-attachment: fixed;
    background-size:cover;
    box-shadow: 1px 1px 4px  rgb(36, 34, 34);

}

.portfolio h1{
    color:rgb(36, 34, 34);
    margin: 75px; 
    padding-top: 55px;
    
    
}

.portfolio img{
    height: 240px;
    width: 100%;
    margin: 16px;
    box-shadow: 0 3px 6px rgb(36, 34, 34);
}

.portfolio h2{
    color: white;
    background-color: #F97300;
    line-height: 50px;
    width: 300px;
    box-shadow: 1px 2px 4px rgb(36, 34, 34);
    text-shadow: 1px 3px 8px rgb(36, 34, 34);
}
#socialmedia{
    height: 300px;
    padding-top: 35px;
    
}

#socialmedia img{
    height: 75px;
    width: auto;
    
}
#socialmedia a{
    color: #F97300;
}


html,h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Playfair Display SC', serif;
}

.footer{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color:rgba(56, 55, 54, 0.637);
    border-top:2pt solid #f97300; 
    color: white;
    text-align: center;
}